<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- These need to be removed to security flaws in your code later-->
		<add key="AccessKey" value="************" />
		<add key="SecretKey" value="****************+hr" />
		<add key="BucketName" value="abinash.bucket.uswest2" />
		<add key="FolderName" value="MA-Popular-Data" />
		<add key="SrcDirectory" value="****************" />
	</appSettings>
</configuration>
