<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- These need to be removed to security flaws in your code later-->
		<add key="AccessKey" value="AKIA4CF75JJK4PKQSXEP" />
		<add key="SecretKey" value="2zum1OBJJyZ3JkjcpDL5gD1xRJmiAe6twZol5+hr" />
		<add key="BucketName" value="abinash.bucket.uswest2" />
		<add key="FolderName" value="MA-Popular-Data" />
		<add key="SrcDirectory" value="C:\Users\abmis\OneDrive\Desktop\TVAK-12974" />
	</appSettings>
</configuration>
